{% extends 'base.html.twig' %}

{% block title %}Série #{{ category.id }}{% endblock %}

{% block body %}
    <div class="media">

        <h1>{{ category.name }}</h1>

        {% for program in programs %}

        <img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
        <div class="media-body">
            <div>
                <p>{{ program.id }}</p>
                <h2><a href="{{ path('program_show', { 'id': program.id }) }}">{{ program.title }}</a></h2>
                <p>{{ program.synopsis }}</p>
            </div>
            {% else %}
            <p>Nous n'avons pas encore de séries répertorie</p>
            {% endfor %}

        </div>
    </div>

    <a href="{{ path('category_index') }}">
        Retour à la liste des catégories
    </a>
{% endblock %}