{% extends 'base.html.twig' %}

{% block title %}Serie number: {{ program.id }}{% endblock %}

{% block body %}
    <div class="media">
    <img class="align-self-start mr-3" src="/build/images/{{ program.poster }}" alt="{{ program.title }} poster">
    <div class="media-body">
    <h1 class="mt-0">{{ program.title }}</h1>
    <p>Category : {{ program.category.name }}</p>

    <h2>Saison : {{ seasons.number }}</h2>
    <p>Description : {{ seasons.description }}</p>
    <ul>
        <h2>Tous les épisodes :</h2>
        {% if seasons.episodes is empty %}
        <p>Il n'y a pas d'épisodes pour le moment !</p>
        {%  endif %}

        {% for episode in seasons.episodes %}
            <li>
                <p>Episode #{{ episode.number }}</p>
                <p>Titre : {{ episode.title }}</p>
                <p>Synopsis : {{ episode.synopsis }}</p>
            </li>
        {% endfor %}
    </ul>



{% endblock %}