{% extends 'base.html.twig' %}

{% block title %}Série #{% endblock %}

{% block body %}
    {{ dump(program) }}
    <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
    <h1 class="mt-0">{{ program.title }}</h1>
    <p>{{ program.synopsis }}</p>
    <p>Catégorie : {{ program.category.name }}</p>
    <h3>Saisons disponibles :</h3>
    {% if program.seasons is empty %}
        <p>Il n'y a pas de saisons disponible dans cette série !</p>
    {%  endif %}

    {% for season in program.seasons %}
        {{ dump(season) }}
        <li><a href="{{ path('program_season_show', {'program' : program.id, 'season' : season.id}) }}">Saison numéro {{ season.number }}</a></li>
    {%  endfor %}
{% endblock %}