{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.synopsis }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
            <h3>Saisons disponibles :</h3>
            <ul>
                {% if program.season is empty %}
                    <p>Il n'y a pas de saisons disponible dans cette série !</p>
                {%  endif %}

            {% for season in program.season %}
                {{ dump(program) }}
                <li><a href="{{ path('program_season_show', { "programId": program.id }, { "seasonId": season.id }) }}">Saison number {{ season.number }}</a></li>
                <p>Synopsis : {{ season.description }}</p>
            {%  endfor %}
            </ul>
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}